@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: 'Sono';
}

header {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid #262626;
    background-color: #000000;
    color: #ffffff;
}

header:hover, main:hover {
    background-color: #111111;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid #262626;
    background-color: black;
    color: #ffffff;
}

.large-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-text {
    font-size: 3rem;
    margin-bottom: 0;
}

.smaller-text {
    font-size: 2rem;
    color: #999999;
}
